.location {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;

    &__icon {
        @include flex-center-column;
        align-items: flex-end;

        img {
            width: 80%
        }
    }

    &__text {
        @include flex-center-column;
    }
}