.main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__left {
        @include flex-center-column;
    }

    &__right {
        @include flex-align;
    }

    &__text {
        text-align: right;
        margin-right: .5rem;
    }
}