html {
    font-size: 62.5%;
    font-family: "Montserrat";
}

.heading-primary {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;

    &--big {
        font-size: 8rem;
        font-weight: 400;
    }
}

.heading-secondary {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1px;   
}